[Unit]
Description=prometheus jolokia exporter
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp=yes
User={{ jolokia_exporter_user }}
Group={{ jolokia_exporter_group }}
RuntimeDirectory=jolokia_exporter

ExecStart={{ jolokia_exporter_root_directory }}/{{ jolokia_exporter_bin_name }}

ExecStartPost=/bin/sh -c "echo $MAINPID > /run/jolokia_exporter/jolokia_exporter.pid"
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ jolokia_exporter_root_directory }}
PIDFile=/run/jolokia_exporter/jolokia_exporter.pid
KillSignal=SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
