[Unit]
Description=prometheus jolokia exporter for %i
Requires=network-online.target
After=network-online.target

ConditionPathExists=/etc/default/jolokia_exporter/%i

[Service]
PrivateTmp=yes
User={{ jolokia_exporter_user }}
Group={{ jolokia_exporter_group }}
RuntimeDirectory=jolokia_exporter

EnvironmentFile=/etc/default/jolokia_exporter/%i

ExecStart=/bin/sh -c "/usr/bin/java $JAVA_MEM $JAVA_OPTS > {{ jolokia_exporter_log_directory }}/%i.log 2>&1"

ExecStartPost=/bin/sh -c "echo $MAINPID > /run/jolokia_exporter/%i.pid"

ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ jolokia_exporter_root_directory }}
PIDFile=/run/jolokia_exporter/%i.pid
KillSignal=SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
